fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary  # <--- НУЖЕН для синхронного подключения в воркере
pydantic
pydantic-settings
python-multipart
passlib
bcrypt==3.2.2
python-jose
qrcode
pillow
alembic
jinja2
weasyprint
openpyxl
redis
fastapi-limiter
celery           # <--- НОВОЕ
pytest
pytest-asyncio
httpx  # Нужен для тестирования API эндпоинтов (на будущее)